.AddForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1.5em 1em;
    margin: 0 2em;
    border: 2px solid indigo;
    border-radius: 5px;
}

.add-label {
    padding-bottom: 0.5rem;
    font-weight: 500;
    color: indigo;
}

input {
    margin-bottom: 0.5rem;
}

.button-container-add {
    display: flex;
    justify-content: space-between;
}